@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.container {
  width: clamp(600px, 95%, 900px);
  aspect-ratio: 1;
  margin: 10px auto;
  border-radius: 1%;
  padding: 10px;
  font-family: Jua, sans-serif;
}

.main {
  width: 100%;
  height: 100%;
}

.cell-container {
  height: 99%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.button-container {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: flex-end;
}
.button-container > .modal-container > button {
  margin-left: 5px;
  color: #444444;
  font-weight: bolder;
  font-family: Jua, sans-serif;
}
.button-container > .modal-container:nth-child(1) > button {
  background-color: #f4cccc;
}
.button-container > .modal-container:nth-child(1) > button:hover {
  background-color: #e68d8d;
}
.button-container > .modal-container:nth-child(2) > button {
  background-color: #fff2cc;
}
.button-container > .modal-container:nth-child(2) > button:hover {
  background-color: #ffdf80;
}
.button-container > .modal-container:nth-child(3) > button {
  background-color: #d9ead3;
}
.button-container > .modal-container:nth-child(3) > button:hover {
  background-color: #acd19f;
}

.cell-container .group {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.group__item {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.group__item {
  border: 1px #a9e1e0 dotted;
  display: flex;
  align-items: center;
}

.group__item > textarea {
  border: 0;
  width: 100%;

  font-size: larger;
  text-align: center;
  overflow: hidden;
  resize: none;

  line-height: 25px;
}

.group__item > textarea:focus {
  outline: none;
}

.group2__item,
.group2__item > textarea,
.group4__item,
.group4__item > textarea,
.group6__item,
.group6__item > textarea,
.group8__item,
.group8__item > textarea {
  background-color: #e5f6f5;
}

.group__item:nth-child(5) > textarea {
  font-weight: bolder;
  font-size: x-large;
}

.group5__item:nth-child(5),
.group5__item:nth-child(5) > textarea {
  background-color: #fff2cc;
}

table > tr > td {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: x-small;
}

.modal-container__goal {
  font-weight: bolder;
  background-color: #e68d8d;
  font-size: medium;
}
.modal-container__item {
  background-color: #70cdcc;
  font-size: x-small;
}
