.container {
  width: clamp(600px, 95%, 2000px);
  aspect-ratio: 1;
  margin: 10px auto;
}

.main {
  width: 100%;
  height: 100%;
}

.cell-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.button-container {
  width: 100%;
  height: 45px;
  display: flexbox;
  text-align: right;
}

.cell-container .group {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.group__item > input {
  border: 1px solid;
  width: 100%;
  height: 100%;
  text-align: center;
}
